*.dll
*.pdb
/bin
/.vs/BasicBot/v15
/obj
/TfsBot.Common/obj
/TfsBot.Common/bin
/packages
/src/TfsBot.Common/obj/Release
/src/TfsBot.Common/bin/Release
/src/BasicBot/obj/Release/netcoreapp2.1
/src/BasicBot/bin/Release/netcoreapp2.1
